#profile{
    height: 6rem;
    background: url('/img/company-cover.jpeg');
    background-position: center !important;
    background-size: cover !important;
}
#profile logo{
    height: 10rem;
}
.logo{
    margin-left:20px;
    margin-top: -2rem;
    background: url('/img/profile.jpg') no-repeat;
    background-color: #000;
    height: 4rem;
    width: 5rem;
    background-size: cover !important;
    border-radius: 50%;
}
a{
    color: #868e96;
}
.fa{
    color: #868e96;
}
.dropdown-menu-side{
    position: relative !important;
    position: absolute;
    transform: translate3d(0px,0px, 0px) !important;
    top: 0px;
    left: 0px;
    will-change: transform;
    width: 100%;
    margin-top: 0;
    border: none;
    border-left: 3px solid #868e96;
    border-radius: unset;
    margin-left: 0.5rem;
    padding-top: 0;
    padding-bottom: 0;
}
ul.list{
    padding-left: 0;
    list-style-type: none;
    padding-top: 10px;
}
ul.list li{
    font-size: 16px;
    padding: 5px 0 5px 40px;
}
ul.list li .fa {
    font-size: 18px;
}

.g-active{
    color: #333;
}
.g-active .fa {
    color: #333;
}
a:focus{
    outline: none;
}