/node_modules
/public_html/hot
/public_html/storage
/public_html/uploads
/storage/*.key
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vendor
.env

.phpunit.result.cache
.php-cs-fixer.cache
