a:hover{
    text-decoration: none;
}
#profile{
    background: url('/img/company-cover.jpeg');
    height: 13rem;
    background-position: center !important;
    background-size: cover !important;
}
.logo{
    margin-left:20px;
    margin-top: -6rem;
    background: url('/img/profile.jpg') no-repeat;
    background-color: #000;
    height: 12rem;
    width: 12rem;
    background-position: calc(100% + 10px);
    background-size: cover !important;
    border-radius: 50%;
}
.info{
    background: #fff;
}
.basic{
    font-size:30px;
    font-weight: bold;
    padding:10px 20px;
}
.fab{
    color: #fff;
}
.item{
    width: 100%;
   padding: 10px 5px;
}
.section_title{
    font-size:30px;
}
p.section_info{
    text-align: justify;
}
.far{
    font-size:18px;
}
.j-p-i{
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: contain !important;
    background-color: #000 !important;
    height: 8rem;
}

@media screen and (max-width:768px){
    #profile{
        height: 6rem;
    }
    .logo{
        height: 8rem;
        margin-top: -4rem;
        margin-left: 0;
    }
    .basic{
        padding: 0 5px;
    }
    .name{
        padding: 0;
        font-size: 16px;
    }
}