#buffer .fa {
    color: #fff;
  }
  
  #buffer .temp-img i {
    margin-top: 40%;
  }
  .astd .s-i {
    cursor: pointer;
  }
  #buffer .local,
  #astd .local {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  .local p {
    color: #fff;
  }
  .local .setB:hover {
    background: green;
    color: #fff;
  }
  .local .setB {
    background: rgba(0, 255, 0, 0.7);
    color: rgba(red, green, blue, 0.8);
    bottom: 0;
    padding: 0.25rem 0.75rem;
  }
  .temp-img:hover .local {
    background: rgba(0, 0, 0, 0.2);
  }
  
  #buffer .temp-img,
  #astd .temp-img {
    cursor: pointer;
    height: 10rem;
    width: 10rem;
    background-size: cover !important;
    background-position: center !important;
  }
  
  .overlay {
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .hero {
    padding: 20px;
    z-index: 1000;
    position: fixed;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    background: #fff;
    overflow-y: auto;
  }
  
  #bedusUpload {
    z-index: 9;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
  
  #bedusUpload:hover {
    cursor: pointer;
  }
  
  img {
    opacity: 1;
    transition: opacity 0.3s;
  }
  
  img[data-src] {
    opacity: 0;
  }
  
  @media screen and (max-width: 720px) {
    .hero {
      left: 0;
      top: 0;
      width: 100%;
      font-size: 10px;
      min-width: 320px;
      min-height: 300px;
    }
    .nav-link,
    .nav-tabs {
      padding-left: 5px !important;
      padding-right: 5px !important;
    }
  }