:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;
