// Loading state
.is-loading {
    position: relative;
    cursor: default;
    pointer-events: none;
  
    &.is-transparent {
      opacity: 0.3;
      transition: opacity 0.3s ease;
    }
  
    &:after {
      animation: spinAround 500ms infinite linear;
      border: 2px solid $turquoise;
      border-radius: 50%;
      border-right-color: transparent;
      border-top-color: transparent;
      content: "";
      display: block;
      height: 1em;
      position: relative;
      opacity: 1;
      width: 1em;
      position: absolute;
      left: calc(50% - (1em / 2));
      top: calc(50% - (1em / 2));
      position: absolute !important;
    }
  }